<aside
  id="menu-sidebar"
  class="fixed top-0 left-0 z-40 w-4/6 h-screen mt-0 transition-transform -translate-x-full shadow md:mt-12 bg-zinc-100 md:mt-0 lg:mt-0 md:w-1/6 sm:translate-x-0 dark:bg-zinc-100"
  aria-label="Sidebar"
>
  <div class="h-full px-3 pt-16 overflow-y-auto bg-zinc-100 dark:bg-zinc-100">
    <ul class="menu">
      <li>
        <a href="/administrador">
          <svg
            width="19"
            height="20"
            viewBox="0 0 19 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M2.375 10L3.95833 8.41667M3.95833 8.41667L9.5 2.875L15.0417 8.41667M3.95833 8.41667V16.3333C3.95833 16.7706 4.31277 17.125 4.75 17.125H7.125M15.0417 8.41667L16.625 10M15.0417 8.41667V16.3333C15.0417 16.7706 14.6872 17.125 14.25 17.125H11.875M7.125 17.125C7.56223 17.125 7.91667 16.7706 7.91667 16.3333V13.1667C7.91667 12.7294 8.27111 12.375 8.70833 12.375H10.2917C10.7289 12.375 11.0833 12.7294 11.0833 13.1667V16.3333C11.0833 16.7706 11.4378 17.125 11.875 17.125M7.125 17.125H11.875"
              stroke="#0039AA"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>

          <span class="ms-3">Dashboard de inicio</span>
        </a>
      </li>

      <li>
        <a href="/creacion_documentos">
          <svg
            width="19"
            height="20"
            viewBox="0 0 19 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M9.5 5.44979V15.7415M9.5 5.44979C8.57542 4.83553 7.32014 4.45801 5.9375 4.45801C4.55486 4.45801 3.29958 4.83553 2.375 5.44979V15.7415C3.29958 15.1272 4.55486 14.7497 5.9375 14.7497C7.32014 14.7497 8.57542 15.1272 9.5 15.7415M9.5 5.44979C10.4246 4.83553 11.6799 4.45801 13.0625 4.45801C14.4451 4.45801 15.7004 4.83553 16.625 5.44979V15.7415C15.7004 15.1272 14.4451 14.7497 13.0625 14.7497C11.6799 14.7497 10.4246 15.1272 9.5 15.7415"
              stroke="#0039AA"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>

          <span class="ms-3">Creación de documentos</span>
        </a>
      </li>

      <li>
        <a href="/fechas_vencimiento">
          <svg
            width="19"
            height="20"
            viewBox="0 0 19 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M6.33333 6.04167V2.875M12.6667 6.04167V2.875M5.54167 9.20833H13.4583M3.95833 17.125H15.0417C15.9161 17.125 16.625 16.4161 16.625 15.5417V6.04167C16.625 5.16722 15.9161 4.45833 15.0417 4.45833H3.95833C3.08388 4.45833 2.375 5.16722 2.375 6.04167V15.5417C2.375 16.4161 3.08388 17.125 3.95833 17.125Z"
              stroke="#0039AA"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>

          <span class="ms-3">Fechas de vencimiento</span>
        </a>
      </li>

      <li>
        <a href="/administradores">
          <svg
            width="19"
            height="20"
            viewBox="0 0 19 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M12.6673 6.04167C12.6673 7.79057 11.2496 9.20833 9.50065 9.20833C7.75175 9.20833 6.33398 7.79057 6.33398 6.04167C6.33398 4.29276 7.75175 2.875 9.50065 2.875C11.2496 2.875 12.6673 4.29276 12.6673 6.04167Z"
              stroke="#0039AA"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M9.50065 11.5833C6.44007 11.5833 3.95898 14.0644 3.95898 17.125H15.0423C15.0423 14.0644 12.5612 11.5833 9.50065 11.5833Z"
              stroke="#0039AA"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>

          <span class="ms-3">Administradores</span>
        </a>
      </li>

      <li>
        <a href="/revision_documentos">
          <svg
            width="19"
            height="20"
            viewBox="0 0 19 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M7.125 10L8.70833 11.5833L11.875 8.41667M16.625 10C16.625 13.935 13.435 17.125 9.5 17.125C5.56497 17.125 2.375 13.935 2.375 10C2.375 6.06497 5.56497 2.875 9.5 2.875C13.435 2.875 16.625 6.06497 16.625 10Z"
              stroke="#0039AA"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>

          <span class="ms-3">Revisión de documentos</span>
        </a>
      </li>

      <li>
        <a href="/ayudanos_a_mejorar">
          <svg
            width="19"
            height="20"
            viewBox="0 0 19 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10.2917 6.04199H16.625M16.625 6.04199V12.3753M16.625 6.04199L10.2917 12.3753L7.125 9.20866L2.375 13.9587"
              stroke="#0039AA"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>

          <span class="ms-3">Ayúdanos a mejorar</span>
        </a>
      </li>

      <li>
        <a href="/sliders">
          <svg
            width="19"
            height="20"
            viewBox="0 0 19 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M7.71875 13.9583L7.125 16.3333L6.33333 17.125H12.6667L11.875 16.3333L11.2813 13.9583M2.375 10.7917H16.625M3.95833 13.9583H15.0417C15.9161 13.9583 16.625 13.2495 16.625 12.375V4.45833C16.625 3.58388 15.9161 2.875 15.0417 2.875H3.95833C3.08388 2.875 2.375 3.58388 2.375 4.45833V12.375C2.375 13.2495 3.08388 13.9583 3.95833 13.9583Z"
              stroke="#0039AA"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>

          <span class="ms-3">Sliders</span>
        </a>
      </li>

      <li>
        <a href="/preguntas_frecuentes">
          <svg
            width="19"
            height="20"
            viewBox="0 0 19 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M6.51357 7.625C6.94828 6.70256 8.12126 6.04167 9.50004 6.04167C11.2489 6.04167 12.6667 7.10499 12.6667 8.41667C12.6667 9.52456 11.6553 10.4553 10.2871 10.7177C9.85774 10.8001 9.50004 11.1461 9.50004 11.5833M9.5 13.9583H9.50792M16.625 10C16.625 13.935 13.435 17.125 9.5 17.125C5.56497 17.125 2.375 13.935 2.375 10C2.375 6.06497 5.56497 2.875 9.5 2.875C13.435 2.875 16.625 6.06497 16.625 10Z"
              stroke="#0039AA"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>

          <span class="ms-3">Preguntas frecuentes</span>
        </a>
      </li>

      <li>
        <a href="/configuracion">
          <svg
            width="19"
            height="20"
            viewBox="0 0 19 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.17366 3.91787C8.51123 2.52738 10.4888 2.52738 10.8263 3.91787C11.0444 4.81611 12.0735 5.24238 12.8629 4.76142C14.0848 4.01689 15.4831 5.41522 14.7386 6.63715C14.2576 7.42649 14.6839 8.4556 15.5821 8.67366C16.9726 9.01123 16.9726 10.9888 15.5821 11.3263C14.6839 11.5444 14.2576 12.5735 14.7386 13.3629C15.4831 14.5848 14.0848 15.9831 12.8629 15.2386C12.0735 14.7576 11.0444 15.1839 10.8263 16.0821C10.4888 17.4726 8.51123 17.4726 8.17366 16.0821C7.9556 15.1839 6.92649 14.7576 6.13715 15.2386C4.91522 15.9831 3.51689 14.5848 4.26142 13.3629C4.74238 12.5735 4.31611 11.5444 3.41787 11.3263C2.02738 10.9888 2.02738 9.01123 3.41787 8.67366C4.31611 8.4556 4.74238 7.42649 4.26142 6.63715C3.51689 5.41522 4.91522 4.01689 6.13715 4.76142C6.92649 5.24238 7.9556 4.81611 8.17366 3.91787Z"
              stroke="#0039AA"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M11.875 10C11.875 11.3117 10.8117 12.375 9.5 12.375C8.18832 12.375 7.125 11.3117 7.125 10C7.125 8.68832 8.18832 7.625 9.5 7.625C10.8117 7.625 11.875 8.68832 11.875 10Z"
              stroke="#0039AA"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>

          <span class="ms-3">Configuración</span>
        </a>
      </li>
    </ul>
  </div>
</aside>
