<%- include('partials/header') %>

<div class="flex flex-col text-blue">
  <%- include('partials/menu') %> <%- include('partials/nav') %>
  <main class="relative mt-20 ml-0 md:mt-16 md:ml-36 lg:ml-72">
    <div class="min-h-screen p-6 ">
      <div class="caja">
        <div class="p-2">
        <h1 class="mb-6 text-xl font-bold">Opinión acerca del sitio de Rendición de Cuentas:</h1>
        
        <div class="pt-3 mb-4">
            <p class="mb-2">Hidrocarburos Líquidos</p>
        </div>

        <div class="mb-4">
            <p>¿Ha sido útil la información que encontró?</p>
            <p class="mt-3 ml-4">Sí</p>
        </div>

        <div class="mb-4">
            <p>¿La información tiene una organización clara?</p>
            <p class="mt-3 ml-4">Sí</p>
        </div>

        <div class="mb-4">
            <p>¿Confía en la información mostrada?</p>
            <p class="mt-3 ml-4">Sí</p>
        </div>

        <div class="mb-4">
            <p>¿Tuvo alguna dificultad para encontrar esta información?</p>
            <p class="mt-3 ml-4">Sí</p>
        </div>

        <div class="pt-4 mb-4">
            <p class="mb-2">¿Qué información (adicional) considera que se debe publicar?</p>
            <div class="p-3 bg-gray-100 rounded-lg">
                <p>Lorem ipsum dolor sit amet consectetur. Et etiam ante blandit faucibus augue. Sed vitae lacus nec erat amet adipiscing tortor purus. Id volutpat aliquam tincidunt non a volutpat ullamcorper amet. Facilisis eget rutrum diam amet volutpat. Sagittis diam velit gravida pellentesque blandit praesent urna orci duis. Pellentesque sed leo bibendum duis imperdiet sociis. Non massa dignissim ut eget porttitor ullamcorper magna in volutpat. Cursus quam sed est sit orci elit suscipit viverra. Vitae scelerisque tellus velit feugiat nibh id. Nibh accumsan massa sed cursus arcu dui quam nibh.</p>
                <p class="mt-2">Ac ac nec ut dui tellus et. Sagittis ultricies lorem blandit tristique lectus sollicitudin eget. Tincidunt egestas ipsum in in. Aliquam enim a adipiscing adipiscing ornare commodo enim. Mattis vestibulum ultrices sed blandit adipiscing. Varius.</p>
            </div>
        </div>

        <div class="pt-4 mb-4">
            <p class="mb-2">Siéntase libre de enviarnos comentarios adicionales</p>
            <div class="p-3 bg-gray-100 rounded-lg">
                <p>Lorem ipsum dolor sit amet consectetur. Ac sed aliquet faucibus lectus iaculis nisl augue pellentesque. Ut enim eget in ultrices. Et sit feugiat gravida tellus tortor. Magna massa aliquet tellus mauris tellus. Diam semper gravida vulputate ac interdum purus fusce tincidunt. Sed sed cum consequat morbi risus enim fames donec. Habitant neque et vitae vel convallis ut quam dui tellus. Tempus nec mauris quisque commodo cursus. Egestas massa pretium etiam varius id dui. Quis integer tincidunt tincidunt integer faucibus at risus nec. Pharetra at fermentum id fermentum porttitor consectetur eget rhoncus sed. Proin quam et elit nulla diam platea eu.</p>
                <p class="mt-2">Dictum elit ultricies vitae mattis elementum. A mauris sapien mollis morbi est nec morbi a. Amet feugiat elementum.</p>
            </div>
        </div>

        <div class="p-3 mb-4">
            <p>Confirmo haber leído y aceptado las (condiciones de nuestra Política de Protección de Datos Personales: <a href="https://www.osinergmin.gob.pe/LPDP" class="text-blue-600 hover:underline">https://www.osinergmin.gob.pe/LPDP</a>) y autorizo a Osinergmin el uso de los siguientes datos personales: nombres, apellidos, email; para el envío de información del PTE y otros fines.</p>
        </div>

        <button class="button" onclick="location.href='/ayudanos_a_mejorar'" type="submit">
            ACEPTAR
        </button>
        </div>
      </div>
      <!-- fin caja-->
    </div>
  </main>
</div>

<%- include('partials/footer') %>
